:root {
  --bg-color: #fde1cc; /*TODO: think about Day colors*/
  --text-color: #d85e5e;
  --transition-time: 0.7s;
  --transition-timing: cubic-bezier(0, 1, 0, 1.3);
  --light-switch-len: 9rem;
  --active-cursor: default;
}

@keyframes light-switch-sway {
  from {
    transform: rotate(-3deg);
  }
  to {
    transform: rotate(3deg);
  }
}

html {
  cursor: var(--active-cursor);
}

html,
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  background: var(--bg-color);
  color: var(--text-color);
  user-select: none;
  transition: background var(--transition-time) var(--transition-timing);
  transition: color var(--transition-time) var(--transition-timing);
  margin: 0;
  padding: 0;
}

.screen {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}

#light {
  margin: auto;
  margin-top: -110px;
  width: 75%;
  height: 100px;
  border-radius: 100%;
  box-shadow: 0px 0px 4rem 0.1rem var(--text-color);
}

.light-switch {
  position: absolute;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform-origin: top center;
  animation: light-switch-sway 2.2s ease-in-out infinite alternate;
}
.light-switch-string {
  background: var(--text-color);
  height: var(--light-switch-len);
  width: 0.4rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  transition: all var(--transition-time) var(--transition-timing);
}
.light-switch-dongle {
  background: var(--text-color);
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 0.5rem;
  margin-top: -1rem;
  transition: all var(--transition-time) var(--transition-timing);
}
.light-switch-dongle:hover {
  --active-cursor: grab;
  cursor: var(--active-cursor);
  transform: scale(1.1);
  filter: brightness(120%);
}

.text-section {
  position: fixed;
  bottom: 0;
  margin-bottom: 4rem;
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.heading {
  font-size: 2rem;
  margin: 0;
  margin-bottom: 1rem;
  display: inline-block;
}
#highlight {
  text-shadow: 0 0 2px var(--text-color);
  filter: brightness(110%);
  transition: transform var(--transition-time) ease-in-out;
  display: inline-block;
}
#highlight:hover {
  transform: translateY(-0.2rem);
}
#fun-fact {
  font-weight: 100;
  font-size: 1rem;
}
.text {
  overflow-wrap: break-word;
  width: 100%;
  font-size: 1.2rem;
}
