:root {
  --bg-color: #36393e;
  --base: #7289da;
  --spacing: 10px;
  --blur: 10px;
}

.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  background: var(--bg-color);
  text-align: center;
  color: white;
  user-select: none;
}

html,
body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

.header {
  font-size: 50px;
  margin-top: 3rem;
}

.highlight {
  color: var(--base);
  text-shadow: 0 0 3px var(--base);
}

.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  border-radius: 1rem;
  background: #282b30;
  width: 50%;
  padding: 2rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.control-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  width: calc(max(200px, 75%));
}

.control-element label {
  font-size: 1.5rem;
}

.control-element input[type="range"],
input[type="color"] {
  cursor: pointer;
}

.control-element input[type="range"] {
  appearance: none;
  border-radius: 1rem;
  width: 100%;
  height: 1rem;
  background: white;
  outline: none;
  opacity: 0.7;
  transition: all 0.7s;
}
.control-element input[type="range"]:hover {
  opacity: 0.9;
}

.control-element input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--base);
  cursor: pointer;
  border-radius: 100%;
  transition: all 0.7s;
  opacity: 1;
}
.control-element input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.1);
  filter: brightness(150%);
}

.control-element input[type="color"] {
  appearance: none;
  width: 50px;
  height: 50px;
  border: none;
  background: transparent;
}
.control-element input[type="color"]::-webkit-color-swatch {
  border-radius: 100%;
  border: 3px solid white;
  transition: all 0.7s;
}
.control-element input[type="color"]::-webkit-color-swatch:hover {
  transform: scale(1.1);
}

.test-subject {
  margin-bottom: 2rem;
  padding: var(--spacing);
  filter: blur(var(--blur));
  background-color: var(--base);
  border-radius: 1rem;
}
