.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  background-image: url("/Clock/Assets/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.blur-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  padding: 2rem 4rem;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.02);
  box-shadow: 0 0 1rem rgba(255, 255, 255, 0.1);
  transition: all 0.7s ease-in-out;
}
.blur-container:hover {
  transform: scale(1.1);
}

.text {
  color: #efece3;
  text-align: center;
  text-shadow: 0 0 0.1rem rgba(255, 255, 255, 0.9);
  font-weight: bold;
  font-size: 3rem;
}
.time {
  font-size: 1.2rem;
  text-shadow: 0 0 0.1rem #8fabd4;
  letter-spacing: 0.1rem;
}

.clock {
  height: calc(20rem + 1px);
  width: calc(20rem + 1px);
  border: 1rem #efece3 solid;
  border-radius: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
  position: relative;
  padding: 2.5rem;
}
.clock-number {
  position: absolute;
  transform: translate(-50%, -50%);
  font-size: 1rem;
  font-weight: bold;
  color: #efece3;
}
.clock-face {
  position: relative;
  width: 100%;
  height: 100%;
}
.clock-face-center {
  position: absolute;
  transform-origin: center center;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  background: #efece3;
  width: 7px;
  height: 7px;
  transform: translate(-50%, -50%);
}

.hand {
  top: 50%;
  position: absolute;
  transform-origin: center right;
  border-start-start-radius: 1rem;
  border-end-start-radius: 1rem;
  transition: all 0.05s cubic-bezier(0.1, 3, 0.5, 1);
  transform: rotate(90deg);
  background: linear-gradient(to right, #8fabd4, #efece3);
}
.hand-seconds {
  width: 50%;
  height: 3px;
}
.hand-minutes {
  width: 50%;
  height: 6px;
}
.hand-hours {
  width: 40%;
  left: 10%;
  height: 6px;
}

.tick {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 10px;
  background: rgba(239, 236, 227, 0.6);
  transform-origin: center center;
}
.tick-hour {
  width: 4px;
  height: 16px;
  background: #efece3;
}
